[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/tianjianfeng
[access "refs/for/refs/*"]
	read = group user/tianjianfeng
	push = group user/tianjianfeng
	label-Code-Review = -2..+2 group user/tianjianfeng
	label-Verified = -1..+1 group user/tianjianfeng
	rebase = group user/tianjianfeng
	removeReviewer = group user/tianjianfeng
	submit = group user/tianjianfeng
[access "refs/heads/*"]
	read = group user/tianjianfeng
	create = group user/tianjianfeng
	push = +force group user/tianjianfeng
	pushMerge = group user/tianjianfeng
[access "refs/tags/*"]
	push = +force group user/tianjianfeng
	pushTag = group user/tianjianfeng
	pushSignedTag = group user/tianjianfeng
